@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.headline {
  position: relative;
  height: 400px;
  color: white;
  text-align: center;
  background: url("https://image.freepik.com/free-photo/breakfast-oatmeal-porridge-with-boiled-egg-avocado-fried-mushrooms_2829-20565.jpg") no-repeat center center;
  background-size: cover;
}

.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}

.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

/* Navigation bar styles */
nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 80px;
}
nav.scrolled {
  background: black;
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: white;
  margin: 5px 0 0 20px;
  display: block;
}

nav a:hover {
  color: rgb(11, 211, 199);
  transition: .5s;
}

nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1048px) {
  lable.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul {
    margin-right: 20px;
  }
  nav a {
    font-size: 17px;
  }
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: 0;
    text-align: center;
  }
}

.logo {
  height: 75px;
  float: left;
}